
.inp {
    padding: 5px 10px;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    color: black;
    width: 300px;
}
.inp-date {
    padding: 0px 10px;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    color: black;
    width: 200px;
}


/* FONT */

.title-component {
    font-size: 15px;
    color: blue;
    font-weight: 700;

}

.text-input {
    color: rgb(128, 128, 128);
}

.text-input-large {
    color: rgb(128, 128, 128);
    font-weight: 700;
    font-size: 16px;
}

.text-input-medium {
    color: rgb(128, 128, 128);
    font-weight: 500;
    font-size: 16px;
}

.text-input-small {
    color: rgb(128, 128, 128);
    font-weight: 700;
    font-size: 10px;
}
/* ------------------------------------ */
.input-radio {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}



