
input:focus:not([type="radio"]) {
    outline: red solid 1px;
}

.inp {
    padding: 5px 10px;
    border: 1px solid rgb(224, 226, 228);
    border-radius: 7px;
    color: black;
    width: 300px;
}

.inp-date {
    padding: 0px 10px;
    border: 1px solid rgb(224, 226, 228);
    border-radius: 7px;
    color: black;
    width: 100%;
}


/* FONT */

.titolo-sezione {
    font-size: 18px;
    color: #444444;
    font-weight: 700;
    line-height: 50px;
}

.text-titolo {
    font-size: 48px;
    color: rgb(60, 77, 86);
    font-weight: 700;

}

.text-input {
    color: black;
}

.text-input-domanda-principale {
    color: #787878;
    font-weight: 700;
    font-size: 14px;
}

.text-input-large {
    color: #787878;
    font-size: 16px;
}

.text-input-medium {
    color: #787878;
    font-size: 14px;
    font-weight: 600;
}

.text-input-small {
    color: #787878;
    font-size: 12px;
}

/* ------------------------------------ */
.wrap-input-radio {
    display: flex;
    align-items: center;
    gap: 8px;
}

.separator{
    border-bottom: 1px dashed rgb(224, 226, 228);
    margin: 24px 0;
}



